.ds-optionstable {margin-top: 40px}
.ds-optionstable h3 {margin: 10px 0}

.ds-toggle {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}
.ds-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.ds-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 26px;
}
.ds-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
.ds-toggle input:checked + .ds-slider {
  background-color: #2271b1;
}
.ds-toggle input:checked + .ds-slider:before {
  transform: translateX(26px);
}
.ds-toggle input:checked:disabled + .ds-slider {
  background-color: #8ecae6;
  cursor: not-allowed;
}
.ds-toggle input:checked:disabled + .ds-slider:before {
  background-color: #f7fbff;
}
