/* Navigation sidebar */
.woocommerce-MyAccount-navigation ul {
  list-style: none;
}

/* Sidebar buttons */
.woocommerce-MyAccount-navigation a:hover {background: var(--e-global-color-secondary); color: #FFF}
.woocommerce-MyAccount-navigation .is-active a {background: var(--e-global-color-primary); color: var(--e-global-color-text)}
.woocommerce-MyAccount-navigation a {
  display: block;
  padding: 12px 20px;
	margin-bottom: 10px;
  border-radius: 100px;
  text-decoration: none;
  color: var(--e-global-color-text);
  transition: 300ms;
  font-weight: 600;
  font-family: var(--e-global-typography-accent-font-family), 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Content area wrapper */
.woocommerce-MyAccount-content {
  background-color: #FAFAFA;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* Links in content */
.woocommerce-MyAccount-content a:hover {text-decoration: underline}
.woocommerce-MyAccount-content a {
  color: var(--e-global-color-accent);
  text-decoration: none;
  text-underline-offset: 2px;
}


/* TerraWallet tab */
.woocommerce-MyAccount-content .woo-wallet-my-wallet-container .woo-wallet-balance-card {background: var(--bde-brand-primary-color)}
.woocommerce-MyAccount-content .woo-wallet-price .woocommerce-Price-amount bdi {color: #FFF}
.woocommerce-MyAccount-content .woo-wallet-nav-item-wrapper:first-of-type {display: none}